.about-text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 1rem 0;
  padding: 0;
}

.about-image {
  float: right;
}

.about-image img {
  border-radius: 0.25rem;
  height: auto;
  margin: -45px 0 0.25rem 2rem;
  max-width: 300px;
  padding: 0;
}
