.about-image {
  float: right;
  margin-top: 3rem;
  max-width: 100%;
}

.about-image img {
  border-radius: 0.25rem;
  height: auto;
  margin: -45px 0 0.25rem 2rem;
  max-width: 100%;
  padding: 0;
}

.icon-floaty-left {
  color: var(--red);
  float: left;
  height: 40px;
  margin-left: -45px;
  margin-top: 6px;
}

@media screen and (max-width: 768px) {
  .about-image {
    float: unset;
    margin: 10px 0;
  }
  .about-image img {
    margin: 0 auto 0 auto;
  }
}
