@import '../../css/buttons.css';

:root {
  --white: #ffffff;
  --black: #171717;
  --green: #c4d602;
  --lighterblue: #1d3f84;
  --line: #eee;
  --orange: rgb(253 186 116);
  --mainblue: #092969;
  --menu-background: #e2e2e2;
  --noted: #f5f5f5;
  --red: #ff0000;
  --buttonblue: rgb(59 130 246);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --white: #0a0a0a;
    --black: #072964;
  }
} */

.demo {
  background: var(--lighterblue);
  border-radius: 4px;
  color: white;
  overflow: hidden;
  padding: 5px;
}

.demo-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px !important;
  padding-bottom: 0;
  padding-top: 20px;
}

.timer {
  font-size: 0.75rem;
  margin-bottom: 5px !important;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

#waveform ::part(cursor) {
  background-color: red;
  height: 100px;
  width: 2px;
}

.demo {
  padding: 15px 8px 0 8px;
}
