.contact-content {
  background-color: var(--background);
  margin-bottom: 2rem;
}

#contact-form {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.contact-page {
  background: var(--background);
  margin: 0 auto 2rem auto;
  width: 100%;
  padding: 0;
}
.contact-page .main-single {
  max-width: 1000px;
}

.contact-page .inputs {
  align-items: stretch;
  background-color: var(--mainblue);
  border-radius: 4px;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.contact-success {
  background-color: var(--green);
  border-radius: 3px;
  color: var(--foreground);
  opacity: 0;
  padding: 1.5rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 300px;
}

.contact-wrap {
  background: var(--mainblue);
  display: flex;
  justify-content: space-around;
}

.contact-text {
  color: white;
  padding: 3rem;
}

.contact-map {
  border: 0;
  border-radius: 4px;
  background-image: url('./durham-screenshot.jpg');
  background-size: cover;
  background-position: center center;
  display: block;
  height: 320px;
  margin-top: 15px;
  width: 400px;
}

input,
textarea {
  border-radius: 0.25rem;
  color: black;
  display: block;
  font-size: 18px;
  padding: 0.5rem 0.75rem;
  width: 350px;
}

textarea {
  height: 325px;
}
iframe {
  border-radius: 0.25rem;
  margin: 0;
  max-height: 390px;
  min-height: 390px;
  padding: 2rem 0 0 0;
}

label {
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
}

.main-text {
  background-color: var(--background);
  border-radius: 3px;
  padding: 1.5rem;
}

@media (max-width: 900px) {
  form,
  input,
  textarea,
  iframe,
  .contact-success {
    width: 100%;
  }
}
@media (max-width: 768px) {
  input,
  textarea,
  iframe,
  .contact-success {
    width: 100%;
  }
}
