section.main-section.homepage {
  align-content: stretch;
  background-color: var(--mainblue);
  border-top: 2px solid var(--black);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  gap: 20px;
  justify-content: space-around;
  padding: 2rem;
}

.main-left,
.main-right {
  background-color: var(--white);
  border-radius: 4px;
  flex-basis: 40%;
  padding: 2rem 3rem;
}

.hero {
  height: 450px;
  overflow: hidden;
  background-image: url('./beach.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.hero-icon {
  display: block;
  background: no-repeat center bottom url('./XylavieNoBg.png');
  background-size: contain;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.main-page {
  background-color: var(--mainblue);
}

.hero img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.resume-links {
  display: flex;
  font-weight: 500;
  gap: 30px;
  margin-top: 20px;
}

.resume-links a {
  color: var(--mainblue);
  font-size: 1rem;
}
a.btn.dl .icon-dl {
  height: 30px;
}

a.btn.dl .icon-dlr {
  height: 24px;
  float: left;
  padding-right: 5px;
}

a.btn.dl .icon-eye {
  height: 20px;
  float: left;
}

@media screen and (max-width: 1130px) {
  .main-left,
  .main-right {
    flex-basis: 100%;
    padding: 1rem;
  }
}
