section.main-section.homepage {
  align-content: stretch;
  background-color: var(--mainblue);
  border-top: 2px solid var(--black);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  gap: 20px;
  justify-content: space-around;
  padding: 2rem;
}

.main-left,
.main-right {
  background-color: var(--white);
  border-radius: 4px;
  flex-basis: 40%;
  padding: 2rem 3rem;
}

.main-right .btn.dl {
  margin-left: 15px;
}

.hero {
  height: 450px;
  overflow: hidden;
  background-image: url('/beach.jpg');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.hero-icon {
  display: block;
  background: no-repeat center bottom url('/XylavieNoBg.png');
  background-size: contain;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.main-page {
  background-color: var(--mainblue);
}

.hero img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

#resume-links {
  clear: both;
  font-weight: 500;
  height: 30px;
}

#resume-links a {
  color: var(--mainblue);
  font-size: 1rem;
  height: 30px;
  margin-right: 5px;
}

.resume-text {
  display: inline-block;
  margin-right: 15px;
}

.icon-btn,
.icon-dl {
  display: inline-block;
  height: 30px;
  width: 25px;
  margin-right: 5px;
}

.rl-text {
  display: inline-block;
  height: 30px;
  vertical-align: top;
}

#btn-play,
#btn-pause {
  padding-top: 5px;
}
#btn-play .rl-text,
.rl-pause .rl-text {
  height: 30px;
  vertical-align: top;
}

#commercial .rl-text,
#character .rl-text {
  display: inline-block;
  height: 30px;
  line-height: 1.4;
}

#resume-links a {
  display: inline-block;
  position: relative;
  width: 120px;
}

#resume-links a .icon-btn {
  position: absolute;
  top: 5px;
  left: 10px;
}

#resume-links a .rl-text {
  display: inline-block;
  text-align: center;
  width: 100%;
}
#resume-links a.btn.dl .rl-text {
  padding-left: 10px;
}
@media screen and (max-width: 1130px) {
  section.main-section.homepage {
    padding: 0.25rem;
    display: block;
  }
  .main-left,
  .main-right {
    padding: 1rem;
  }
  .main-right {
    margin-top: 1rem;
  }

  #resume-links {
    gap: 7%;
  }

  #resume-links a {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 650px) {
  #resume-links {
    margin-top: 40px;
  }
}
