@tailwind base;
@tailwind components;
@tailwind utilities;



.btn {
  @apply bg-blue-500 text-white rounded px-4 py-1;
  width: auto;
  min-width: 100px;
  text-align: center;
}

.btn-submit {
  margin: 20px auto;
}

