@import './css/buttons.css';

:root {
  --white: #ffffff;
  --black: #171717;
  --green: #c4d602;
  --lighterblue: #1d3f84;
  --line: #eee;
  --orange: rgb(253 186 116);
  --mainblue: #092969;
  --menu-background: #e2e2e2;
  --noted: #f5f5f5;
  --red: #ff0000;
  --buttonblue: rgb(59 130 246);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --white: #0a0a0a;
    --black: #072964;
  }
} */

body {
  background: var(--mainblue);
  color: var(--black);
  font-family: 'Gamay', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  display: block;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  line-height: 1.2;
  margin: 0;
  padding: 0 0 1rem 0;
}

p {
  margin-bottom: 1rem !important;
}

.fade-in {
  opacity: 1 !important;
  transition: all 0.3s ease-in-out;
}

.fade-out {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out;
}

.link-visible {
  color: var(--lighterblue);
  text-decoration: underline;
}

.emp {
  font-weight: 500;
}


.main-single {
  box-sizing: border-box;
  border-radius: 0.25rem;
  padding: 2rem;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto 2rem auto;
}

.main-content {
  background-color: var(--white);
  border-radius: 0.25rem;
  margin: 2rem auto;
}

/* MOBILE */

@media screen and (max-width: 1300px) {
  .main-page {
    padding: 0 10%;
  }
}
@media screen and (max-width: 968px) {
  .main-section {
    flex-direction: row;
    justify-content: center;
  }

  .hero {
    background-position: center;
  }
}

@media screen and (max-width: 650px) {
  .main-section {
    border: 0;
    flex-direction: column;
    gap: 0;
    max-width: 100%;
    padding: 0rem;
  }
  .hideForSmall{
  display:none;
}

.blockForSmall{
  display:block;
}
}
