@import './css/buttons.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --menu-background: #e2e2e2;
  --line: #eee;
  --green: #c4d602;
  --mainblue: #092969;
  --lighterblue: #1d3f84;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #072964;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gamay', Arial, Helvetica, sans-serif;
}

h2.heading {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0 0 1rem 0;
  padding: 0;
}

.about-text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0 0 1rem 0;
  padding: 0;
}

.demo {
  @apply text-white p-5;
  background: var(--lighterblue);
}

.top-header section {
  align-items: center;
  background-color: var(--background);
  background-image: url('./soundboard-waveform.jpg');
  background-size: contain;
  color: var(--foreground);
  padding: 1rem;
  display: flex;
  height: 110px;
  justify-content: space-around;
}

.top-header img {
  height: 100%;
}

.top-header aside {
  color: white;
  display: flex;
  flex-direction: column;
}

.ian-name,
.ian-tag {
  font-family: 'Gamay', sans-serif;
  text-align: right;
}

.ian-name {
  font-size: 2.35rem;
  font-weight: bold;
  margin-top: -25px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.ian-tag {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: -5px;
  padding-top: 0;
  line-height: 1em;
}

.main-menu {
  background-color: var(--menu-background);
  border-bottom: 1px solid var(--line);
  font-family: 'Gamay', sans-serif;
  font-weight: 500;
  padding: 1rem;
}

.main-menu ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 20%;
  padding: 0;
}

.main-menu li {
  margin: 0;
  padding: 0;
  transition: 0.3s all;
}

.main-menu li:hover {
  transition: 0.3s ease-in-out all;
  transform: scale(1.3);
}

.hero img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.main-section {
  align-content: stretch;
  background-color: var(--mainblue);
  border: 2px solid var(--foreground);
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3rem;
}

.main-left,
.main-right {
  background-color: #fefefe;
  border-radius: 3px;
  padding: 3rem;
  flex-basis: 48%;
}

.bottom-section {
  background-color: var(--green);
  color: var(--mainblue);
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
}

footer {
  color: var(--background);
  background-color: var(--foreground);
  padding: 70px 20%;
}

footer > p {
  font-size: 0.8rem;
  padding-bottom: 15px;
}

footer section {
  flex-basis: 20%;
  display: flex;
  justify-content: space-between;
}

footer section article {
  display: flex;
  flex-direction: row;
}

.footer-icons {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-basis: 200px;
  padding-top: 20px;
}

footer section .source-connect {
  margin-top: 20px;
}

footer section .vop-link {
  color: rgb(204, 51, 102);
}

footer section .podcast {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

footer section .pod-text {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

footer section .podcast-text {
  font-size: 0.8rem;
  max-width: 200px;
}

.icon {
  transition: 0.3s all;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.15) translateY(7px);
  transition: 0.3s all;
}

.source-connect {
  display: block;
  padding-top: 30px;
}

.source-connect-mobile {
  display: none;
}

/* MOBILE */

@media screen and (max-width: 968px) {
  .main-section {
    flex-direction: row;
    justify-content: center;
  }

  .ian-name {
    font-size: 2rem;
  }
  .ian-tag {
    font-size: 1rem;
  }
  .main-left,
  .main-right {
    padding: 1rem;
    flex-basis: 100%;
  }

  .main-menu ul {
    margin: 0 10%;
  }
  .hero {
    background-position: center;
  }

  footer {
    padding: 70px 10%;
  }

  .source-connect-mobile {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .main-section {
    border: 0;
    gap: 0;
    padding: 0rem;
    max-width: 100%;
    flex-direction: column;
  }

  .top-header aside {
    display: none;
  }
  .main-left,
  .main-right {
    padding: 1.5rem;
    flex-basis: unset;
  }
  footer section {
    display: block;
  }
  .source-connect-mobile {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .source-connect {
    display: none;
  }
  .source-connect-mobile a img {
    margin: 0 auto;
  }
  .footer-flex {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
  .footer-icons {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    padding: 10px;
  }
  .podcast {
    justify-content: center;
  }
}
